:root {
    --main-color: #800080;
    --second-color: #e078e0;
    --font-size: 16px;
}

body {
    background-color: var(--main-color);
}

body:hover {
    cursor: default;
}

main {
    display: grid;
    grid-template-rows: 1fr 120px 1fr;
    justify-content: center;

}

#top {
    margin-top: 200px;
    font-size: 40px;
    text-align: center;

}

#middle {
    display: flex;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}

#text-input {
    display: flex;
    font-size: 25px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    height: 40px;
    width: 400px;
}

#check-btn {
    width: 100px;
    height: 60px;
    border-radius: 10px;
    margin-left: 10px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
}

#check-btn:hover {
    cursor: pointer;
    background-color: var(--second-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#result {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-bottom: 200px;
}

#result img {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border: none;
}